# 이 노트북에서는: 그래프 데이터베이스에 사용될 파일 만들기
    1. users_df: 사용자 ID
    2. movies_df: 각 영화별 평점 평균
    3. genres_df: 영화 장르(no genres listed 포함 20개)
    4. users_movies_df: 사용자/영화/평점
    5. movies_genres_df: 각 영화가 속하는 장르
    6. users_genres_df: 각 사용자가 가장 선호하는 장르

#### import block

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
from tqdm import tqdm

In [3]:
base_path = '/home/ssum/바탕화면/experiments/ml-25m'
file_list = os.listdir(base_path)
file_list

['README.txt',
 'movies.csv',
 'genome-scores.csv',
 'genome-tags.csv',
 'links.csv',
 'tags.csv',
 'ratings.csv']

In [4]:
ratings = pd.read_csv(os.path.join(base_path, "ratings.csv"))

In [5]:
movies = pd.read_csv(os.path.join(base_path, "movies.csv"))

#### make dataframes for nodes
- users_df
- movies_df
- genres_df

In [6]:
users_df = pd.DataFrame(ratings['userId'].unique(), columns=['userId'])
users_df.head()

   userId
0       1
1       2
2       3
3       4
4       5

In [7]:
movies_df = movies.drop('genres', axis = 1)

#평균 평점으로 aggregating
agg_rating_avg = ratings.groupby(['movieId']).agg({'rating': np.mean}).reset_index()
agg_rating_avg.columns = ['movieId', 'rating_mean']

#merge
movies_df = movies_df.merge(agg_rating_avg, left_on='movieId', right_on='movieId', how='left')
movies_df.head()

   movieId                               title  rating_mean
0        1                    Toy Story (1995)     3.893708
1        2                      Jumanji (1995)     3.251527
2        3             Grumpier Old Men (1995)     3.142028
3        4            Waiting to Exhale (1995)     2.853547
4        5  Father of the Bride Part II (1995)     3.058434

In [8]:
genres = movies['genres']
genres = genres.str.split("|", expand=True)
genres = pd.Series(genres.values.ravel()).unique()
genres_df =pd.DataFrame(genres, columns=['genres'])
genres_df

                genres
0            Adventure
1            Animation
2             Children
3               Comedy
4              Fantasy
5                 None
6              Romance
7                Drama
8               Action
9                Crime
10            Thriller
11              Horror
12             Mystery
13              Sci-Fi
14                IMAX
15         Documentary
16                 War
17             Musical
18             Western
19           Film-Noir
20  (no genres listed)

#### make dataframes for edges
- users_movies_df
- movies_genres_df
- users_genres_df

In [9]:
users_movies_df = ratings.drop('timestamp', axis=1)
users_movies_df.head()

   userId  movieId  rating
0       1      296     5.0
1       1      306     3.5
2       1      307     5.0
3       1      665     5.0
4       1      899     3.5

In [10]:
movies_genres_df = movies.drop('title', axis = 1)
movies_genres_df.head()

   movieId                                       genres
0        1  Adventure|Animation|Children|Comedy|Fantasy
1        2                   Adventure|Children|Fantasy
2        3                               Comedy|Romance
3        4                         Comedy|Drama|Romance
4        5                                       Comedy

영화 하나가 여러 장르에 속하므로 펼쳐야함
1. genres 컬럼에 있는 string을 단어(1 장르) 단위로 나누기
2. 한 장르당 하나의 새로운 컬럼에 저장(총 10개 컬럼 생성됨)
3. melt 함수와 stack()함수를 이용하여 한 컬럼으로 합치기

In [11]:
movies_genres_df.drop('genres', axis=1, inplace=True)

In [12]:
movies_genres_df = pd.merge(movies_genres_df, movies['genres'].str.split("|", expand=True),left_index=True,  right_index=True)
movies_genres_df= movies_genres_df.set_index('movieId').stack().reset_index().drop('level_1', 1)
movies_genres_df.rename(columns ={0: 'genres'}, inplace=True)
movies_genres_df

        movieId              genres
0             1           Adventure
1             1           Animation
2             1            Children
3             1              Comedy
4             1             Fantasy
5             2           Adventure
6             2            Children
7             2             Fantasy
8             3              Comedy
9             3             Romance
10            4              Comedy
11            4               Drama
12            4             Romance
13            5              Comedy
14            6              Action
15            6               Crime
16            6            Thriller
17            7              Comedy
18            7             Romance
19            8           Adventure
20            8            Children
21            9              Action
22           10              Action
23           10           Adventure
24           10            Thriller
25           11              Comedy
26           11               Drama
27           11             Romance
28           12              Comedy
29           12              Horror
...         ...                 ...
112277   209119               Drama
112278   209121         Documentary
112279   209123         Documentary
112280   209129         Documentary
112281   209131         Documentary
112282   209133  (no genres listed)
112283   209135         Documentary
112284   209135             Fantasy
112285   209137             Western
112286   209139               Drama
112287   209141              Comedy
112288   209143           Animation
112289   209143         Documentary
112290   209145               Drama
112291   209147               Crime
112292   209147              Horror
112293   209151  (no genres listed)
112294   209153              Comedy
112295   209153               Drama
112296   209155              Action
112297   209155              Comedy
112298   209155             Romance
112299   209157               Drama
112300   209159         Documentary
112301   209163              Comedy
112302   209163               Drama
112303   209169  (no genres listed)
112304   209171              Action
112305   209171           Adventure
112306   209171               Drama

[112307 rows x 2 columns]

In [13]:
users_genres_df = ratings.merge(movies, left_on='movieId', right_on='movieId', how='left')
users_genres_df.drop(['movieId', 'rating', 'timestamp', 'title'], axis=1, inplace=True)

In [14]:
users_genres_df.head(10)

   userId                       genres
0       1  Comedy|Crime|Drama|Thriller
1       1                        Drama
2       1                        Drama
3       1             Comedy|Drama|War
4       1       Comedy|Musical|Romance
5       1        Drama|Musical|Romance
6       1         Comedy|Drama|Romance
7       1                    Drama|War
8       1                        Drama
9       1          Adventure|Drama|War

users_gernes_df에는 각 유저가 가장 선호하는 장르가 저장되어야 함.
1. movies_genres_df와 마찬가지로 genres 컬럼의 값을 펼쳐주는 작업이 필요하고
2. 각 userId당 genres의 word frequency를 계산해야 함.

In [15]:
users_genres_df.set_index('userId', inplace=True)

In [16]:
tmp = pd.DataFrame(columns = ['genre'])
for idx in tqdm(users_genres_df.index.unique()):
    top = users_genres_df.loc[idx].genres\
               .str.split("|", expand=True)\
               .stack().value_counts()[:1]
    tmp.loc[idx]=top.index[0]
users_genres_df = tmp
users_genres_df.head()

100%|██████████| 162541/162541 [23:52<00:00, 113.50it/s]

    genre
1   Drama
2   Drama
3  Action
4  Action
5  Comedy

In [21]:
users_genres_df= users_genres_df.reset_index().rename(columns={"index":"userId"})
users_genres_df.head()

   userId   genre
0       1   Drama
1       2   Drama
2       3  Action
3       4  Action
4       5  Comedy

#### save to files

In [17]:
users_df.to_csv('users.csv', sep='|', header=True, index=False)
movies_df.to_csv('movies.csv', sep='|', header=True, index=False)
genres_df.to_csv('genres.csv', sep='|', header=True, index=False)
users_movies_df.to_csv('users_movies.csv', sep='|', header=True, index=False)

In [22]:
movies_genres_df.to_csv('movies_genres.csv', sep='|', header=True, index=False)
users_genres_df.to_csv('users_genres.csv', sep='|', header=True, index=False)